<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"kindi-main kindi-contact-main","style":{"spacing":{"padding":{"top":"2.5rem","bottom":"3.5rem","left":"1rem","right":"1rem"}}},"layout":{"type":"constrained","contentSize":"1100px"}} -->
<main id="main" class="wp-block-group kindi-main kindi-contact-main" style="padding-top:2.5rem;padding-right:1rem;padding-bottom:3.5rem;padding-left:1rem">
	<!-- wp:pattern {"slug":"kindi/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
